body{
	width: 80%;
	margin:0 auto;
}

#my-profile-links{
	padding-left: 0;
}

#my-name{
	display: inline-block;
}

#my-profession{
	display: inline-block;
	margin-left: 50%

}

#my-profile-links li a{
	text-decoration: none;
	color: white;
}

#my-profile-links li{
	list-style: none;
	display: inline; 
	margin-right: 15%;
	
}

#my-profile-links li:last-child{
	margin-right: 0;
}

.social-links{
	padding: 0;
}

img
{
	border-radius: 50%;
	width:150px; 
    height: auto;
    margin-left: 20px;
    margin-bottom: 30px;
    position: absolute;
	z-index: 10;
	top: 6%;
	left: 12%;
}

header{
	background-color: #22447a;
	color: white;
	margin: 0px;
	width: 100%;
	padding-bottom: 10px;
}

#header-info{
	width: 55%;	
	margin-left: 25%;
}

#about-me{
	margin-left: 25%;
	width: 55%;
	margin-top: 5px;
	text-align: justify;
}

#who-i{
	color: #ff6600;
	font-weight: bold;
}


.border-bottom{
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}

#profile-photo{
	border: 5px solid white;
}